*
!/.gitignore
!/README.md
!/.github/
!/.github/skills/
!/.github/skills/**
!/scripts/
/.github/skills/**/__pycache__/
/.github/skills/**/*.pyc
!/scripts/**
!/Products/
!/Products/.gitkeep
!/RTsynth/
!/RTsynth/.gitkeep
!/STARFORGE/
!/STARFORGE/RAW/
!/STARFORGE/RAW/.gitkeep
!/STARFORGE/SELECTED/
!/STARFORGE/SELECTED/.gitkeep
!/3D-PDR/
!/3D-PDR/.gitkeep